b{
    position: absolute;
    margin-left: 35%;
    bottom: 85%;
    font-size: xx-large;
    color:  bisque;
}

a{
    color: bisque;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-image: url("bggg.jpg");
    background-repeat: repeat-y;
    background-size: cover; 
    display: block;
    font-size: medium;
    color:  white;
}

h3{
    font-size: xx-large;
    padding: 100px 15px 45px;
    margin-left: 40%;
}
form{
    padding: 10px 19px 40px; 
    margin-left: 40%;
}

button{
    position: relative;
    padding: 6px 16px;
    border: 2px solid rgb(209, 195, 195);
    background-color: rgb(211, 211, 195);
}

button:hover{
    background-color: black;
    color: bisque;
    transition: 0.4s ease;
}

footer{
    height: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(40, 39, 39);
}

.outer-footer{
    text-align: center;
    color: rgb(209, 220, 230);
} 

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;

}

.navbar ul{
    list-style: none;
    cursor: pointer;
    float: left;
    margin-left: 800px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    font-family: 'raleway', sans-serif;
    padding: 20px 20px;
    line-height: 10px;
    margin: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(240, 225, 198);
    padding: 10px 10px;
    transition: 0.7s ease;
}

.navbar ul li a:hover{
    background-color: bisque;
    color: black;
}

.navbar.active a{
    background-color:  bisque;
    color: black;
}

 .main button{
    padding: 10px;
    cursor: pointer;
    font-size: 12 px;
    border: none;
    border-radius: 5px;
    line-height: 7px;
}
